<div id='artCardData' class='hide' [formGroup]="artCardForm">
  <div class="form-group">
      <label for="artCardTitle">Title</label>
      <input type="text" class="form-control" id="artCardTitle" formControlName="title">
  </div>
  
  <div class="form-group">
      <label for="primaryContributor">Primary Contributor</label>
      <input type="text" class="form-control" id="primaryContributor" formControlName="primaryContributor">
  </div>
  
  <div class="form-group">
      <label for="secondaryContributor">Secondary Contributor</label>
      <input type="text" class="form-control" id="secondaryContributor" formControlName="secondaryContributor">
  </div>
  
  <div class="form-group">
      <label for="primaryType">Primary Type</label>
      <input type="text" class="form-control" id="primaryType" formControlName="primaryType">
  </div>
  
  <div class="form-group">
      <label for="summary">Summary</label>
      <!-- <input type="text" class="form-control" id="summary" formControlName="summary"> -->
      <jodit-editor [config]="{buttons: 'bold'}" formControlName="summary"></jodit-editor>
  </div>
  
  <div class="form-group">
      <label for="support">Support</label>
      <input type="text" class="form-control" id="support" formControlName="support">
  </div>
  
  <!-- editable source list -->
  
  <div class="form-group">
      <label for="sources">Sources</label>
      <div class="list-group-item" *ngFor="let entry of sourcesArray; let i = index;">
          <div class="form-group" id="source-entry-{{i}}">
              {{ entry }}
              <div id="button-group-{{i}}" class="btn-group" role="group" aria-label="...">
                  <button name="editButton" type="button" class="btn btn-default" (click)='editSource(i, entry)'>Edit</button>
                  <button type="button" class="btn btn-default" (click)='deleteSource(i)'>Delete</button>
              </div>
          </div>
          <div class="form-group hide" id="source-input-{{i}}">
              <input type="text" class="form-control" id="sources" [(ngModel)]="source" [ngModelOptions]="{standalone: true}">
              <button type='button' type="button" class="btn btn-default" (click)="saveSource(i)">
                  Save Source
              </button>
          </div>
      </div>
      <input type="text" class="form-control" id="sources" [(ngModel)]="source" [ngModelOptions]="{standalone: true}">
      <button type='button' type="button" class="btn btn-default" (click)="addSource()">
          Add Source
      </button>
  </div>
  
  <!-- editable artist list -->
  
  <div class="form-group">
      <label for="contributingArtists">Contributing Artists</label>
      <div class="list-group-item" *ngFor="let entry of artistArray; let i = index;">
          <div class="form-group" id="artist-entry-{{i}}">
              {{ entry }}
              <div id="button-group-{{i}}" class="btn-group" role="group" aria-label="...">
                  <button name="editButton" type="button" class="btn btn-default" (click)='editArtist(i, entry)'>Edit</button>
                  <button type="button" class="btn btn-default" (click)='deleteArtist(i)'>Delete</button>
              </div>
          </div>
          <div class="form-group hide" id="artist-input-{{i}}">
              <input type="text" class="form-control" id="artist" [(ngModel)]="artist" [ngModelOptions]="{standalone: true}">
              <button type='button' type="button" class="btn btn-default" (click)="saveArtist(i)">
                  Save Artist
              </button>
          </div>
      </div>
      <input type="text" class="form-control" id="contributingArtists" [(ngModel)]="artist" [ngModelOptions]="{standalone: true}">
      <button type='button' type="button" class="btn btn-default" (click)="addArtist()">
          Add Artist
      </button>
  </div>
  
  <div class="form-group">
      <button type='button' type="button" class="btn btn-default" (click)="addArtCard()">
          Add Art Card
      </button>
  </div>
</div>