html {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 0;

}
div.head {
    position: relative;
    height: 15%;
    width: 100%;
}
div.body {
    height: 85%;
    width: 100%;
}
nav {
    position: fixed;
    width: 100%;
    height: inherit;
    background-color: #ffffff;
    z-index: 1000;
}
#DIADOZLOGO {
    position: absolute;
    height: 50%;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
img {
    height: 100%;

    display: block;
}

table {
    position: relative;
    height: 100%;
    float: left;
    width: inherit;
    padding: 0;
    border: 5px red;
    border-spacing: 0px;

}

td {
    height: 100%;
    padding: 0;
}

div.entry-wrap {
    position: relative;
    overflow: hidden;
    display: block;
    height: 600px;/*needs to dynamically change px value to 70% of the body size, perhaps javascript*/
}

header {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    transition: background-color 0.5s;
    transition-timing-function: linear;
}
header:hover {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.12);
    width: 100%;
}
a {
    text-decoration: none;
    color: white;
}
p.BlockInfo {
    font-family: Harriet,"Georgia",serif;
    font-size: 40px;
    line-height: 45px;
    font-weight: bolder;
    -webkit-font-smoothing: antialiased;
    margin-top: 10px;
    margin-left: 10px;
    transition: text-shadow .5s;
    transition-timing-function: ease;
}

p.BlockInfo:hover {
    text-shadow: 0 0 2px rgba(255,255,255,0.03),0 0 2px rgba(255,255,255,0.03),0 0 2px rgba(255,255,255,0.62),0 0 2px rgba(255,255,255,0.1),0 0 2px rgba(255,255,255,0.1),0 0 2px rgba(255,255,255,0.1),0 0 2px rgba(255,255,255,0.1),0 0 2px rgba(255,255,255,0.1);
}

