/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default*/


html{
  width: 100%;
  overflow: hidden;
}
body{
  margin: 0;
  width: 100%;
  overflow: hidden;
}

:host ::ng-deep h1{
  font-family: 'Fugaz One', cursive;
  text-transform: uppercase;
  font-size: 2em;
  margin: 0;
}

.container{
  box-sizing: border-box;
  display: block;
  position: relative;
  padding: 0px;
  width: auto;
  height: 100%;
  background-color: white;
  padding-top: 1.3em;
}

.column-body{
  display: block;
  margin: 0 auto;
  width: 100%;
  /*padding: 16px;*/

}

.sound-wrapper {
  margin: 20px 0px 20px 0px;
}

.photo-header-wrapper {
  width: 100%;
  margin: 20px 0px 20px 0px;
}

.sound-wrapper {
  margin: 20px 0px 20px 0px;
}

/*editorial*/
.editorial-header{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 35px;
  margin: 0 auto;
  max-width: 740px;
  font-weight: bolder;
}

.photo-header-wrapper {
  width: 100%;
  margin: 20px 0px 20px 0px;
}

.editorial-body{
  font-family: proxima-nova, sans-serif;
  font-size: 1.5em; /*1.063em = 17px*/
  font-weight: 300; /*possibly < 300*/
  font-style: normal;
  letter-spacing: 0.025em;

  line-height: 1.58em;

  margin: 0 auto 20px auto;
  padding: 0 10px 0 10px;
  max-width: 740px;
  color: black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0,0,0,.8);
}

/*video*/

.Video-wrapper{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  /*padding-top: 25px;*/
  height: 0;
  margin: 20px 0px 20px 0px;
}

:host ::ng-deep .Video-wrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.body-media {
  width: 100%;
  margin: 0 auto 20px auto;
}

:host ::ng-deep .body-media img {
  width: 100%;
}


/*image*/
.Image-wrapper{
  margin-top: 20px;  
}
.Image-wrapper img{
  width: 100%;
}


.social{
  display: block;
}

.shareButton {
  /*position: relative;*/
  /*left: -50px;*/
  top: 30px;
  display: inline;
}
.sb-outline-up .sb-wrapper{
  -webkit-transition:.25s;
  transition:.25s;
  background:none;
  border: none;
  font:inherit;
  line-height:1;
  height:2.5em;
  width: 40px;
  /*margin: auto;*/
}
.sb-outline-up .sb-wrapper.sb-facebook{
  color:#4267b2
}
.sb-outline-up .sb-wrapper.sb-facebook:hover{
  /*yo*/
  color: white;
  border-color:#4267b2;
  -webkit-box-shadow:inset 0 -3.25em 0 0 #4267b2;
  box-shadow:inset 0 -3.25em 0 0 #4267b2
}
.sb-outline-up .sb-wrapper.sb-twitter{
  color:#00acee
}
.sb-outline-up .sb-wrapper.sb-twitter:hover{
  color: white;
  border-color:#00acee;
  -webkit-box-shadow:inset 0 -3.25em 0 0 #00acee;
  box-shadow:inset 0 -3.25em 0 0 #00acee
}
.sb-outline-up .sb-wrapper.sb-copy{
  color:#607d8b
}
.sb-outline-up .sb-wrapper.sb-copy:hover{
  border-color:#607d8b;
  -webkit-box-shadow:inset 0 -3.25em 0 0 #607d8b;
  box-shadow:inset 0 -3.25em 0 0 #607d8b
}
.sb-outline-up .sb-wrapper.sb-show-icon.sb-show-count,
.sb-count,.sb-outline-up .sb-wrapper.sb-show-icon.sb-show-template,
.sb-template,.sb-outline-up .sb-wrapper.sb-show-icon.sb-show-text .sb-text{
  padding-right:1em;padding-left:0
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 550px) {
  .container{
    padding-top: 1.8em;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .container{
    position: relative;
    /*padding: 0px;*/
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 2.8em;
  }

  .column-body{
    padding: 0px;
    margin: 0 auto;
    /*max-width: 750px;*/
    background-color: white;
  }

  .sound-wrapper {
    margin: 20px 0px 20px 0px;
  }

  /*editorial import*/

  /*.column-body{*/
    /*margin: 0 auto;*/
    /*max-width: 70%;*/
    /*background-color: white;*/
  /*}*/





.fullWidth {
  width: 100%;
  z-index: 1;
}

.semiFullWidth {
  width: 90%;
}

.halfWidth {
  width: 75%;
  background-color: orange;
}

.columnWidth{
  max-width: 740px;
}

.halfColumnWidth{
  max-width: calc(740px/2);

}

.miniColumnWidth{
  max-width: calc(740px/3);
}
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .column-body {
    display: block;
    margin: 0 auto;
    /*width: 800px;*/
    /*padding: 16px;*/

  }

}


