<app-header></app-header>

<div class="container">

  <div class="column-body">
    <div class='sb-outline-up shareButton'>
        <button class="sb-wrapper sb-facebook" (click)="fbClick()">
          <i aria-hidden="true" class="fa fa-facebook"></i>
        </button>
    </div>
    <div class='sb-outline-up shareButton'>
        <button class="sb-wrapper sb-twitter"(click)="twClick()">
          <i aria-hidden="true" class="fa fa-twitter"></i>
        </button>
    </div>
    <div *ngFor="let data of post.body">

      <div *ngIf="data.class === 'card'" class="body-media">
        <app-card [card]='data'></app-card>
      </div>

      <div *ngIf="data.class === 'media'">
        <div class="{{data.width}} body-media">
          <div class="{{data.type}}-wrapper" [innerHTML]="data.embed | keepHtml"></div>
        </div>
      </div>

      <div *ngIf="data.class === 'text'">
        <div class="editorial-body body-media">
          <div [innerHTML]="data.text | keepHtml"></div>
        </div>
      </div>
    </div>
  </div>
</div>
