<app-header [color]="color"></app-header>
<div class="container">

  <div class="column-body">

    <!--Social Buttons-->
    <!-- <div class="social">
      <div class='sb-outline-up shareButton'>
        <button class="sb-wrapper sb-facebook" (click)="fbClick()">
          <i aria-hidden="true" class="fa fa-facebook"></i>
        </button>
      </div>
      <div class='sb-outline-up shareButton'>
        <button class="sb-wrapper sb-twitter"(click)="twClick()">
          <i aria-hidden="true" class="fa fa-twitter"></i>
        </button>
      </div>
    </div> -->
    <div *ngIf="post.postType === 'Gallery'">
      <app-gallery [post]='post'></app-gallery>
    </div>
    
    <div *ngIf="post.postType === 'Article'">
      <div *ngFor="let data of post.body">

        <!--Art Card-->
        <div *ngIf="data.class === 'card'" class="body-media">
          <app-card [card]='data'></app-card>
        </div>

        <!--Media-->
        <div *ngIf="data.class === 'media'">
          <div class="{{data.width}} body-media">
            <div *ngIf="data.type != 'Image'" class="{{data.type}}-wrapper" [innerHTML]="data.embed | keepHtml"></div>
            <div *ngIf="data.type == 'Image'" class="{{data.type}}-wrapper">
              <img src="{{data.embed}}" />
            </div>
          </div>
        </div>

        <!--Text Body-->
        <div *ngIf="data.class === 'text'">
          <div class="editorial-body body-media">
            <div [innerHTML]="data.text | keepHtml"></div>
          </div>
        </div>

      </div>
    </div>
    
  </div>
</div>
