<app-header></app-header>

<div class="container">
  <!--<div class="column-body">-->
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" 
      class="twitter-share-button" 
      data-via="@diadoz_" 
      data-hashtags="DIADOZ" 
      data-related=""
      data-show-count="false">
      Tweet
    </a>
    <div class="fb-share-button" data-layout="button" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse">Share</a></div>
    
    <div *ngFor="let data of post.body">

      <div *ngIf="data.class === 'card'" class="body-media">
        <app-card [card]='data'></app-card>
      </div>

      <div *ngIf="data.class === 'media'">
        <div class="{{data.width}} body-media">
          <div [innerHTML]="data.embed | keepHtml"></div>
        </div>
      </div>

      <div *ngIf="data.class === 'text'">
        <div class="editorial-body body-media">
          <div [innerHTML]="data.text | keepHtml"></div>
        </div>
      </div>
    <!--</div>-->
  </div>
</div>
