<div class="art-card">
  <div class="art-card-containter">
    <div class="art-card-header">
      <p class="h1">{{card.primaryContributor}}</p>
      <p class="h1"><em>{{card.title}}</em>, 2017</p>
      <p class="h1">{{card.primaryType}}</p>
    </div>
    <a href="{{card.support}}" class="support">Support</a>
    <br />
    <p class="card-text-body">{{card.summary}}</p>
    <h4>Contributing Artists</h4>
    <p *ngFor="let artist of card.contributingArtists" class="contributing-artists card-text-body">
      {{artist}}
    </p>
  </div>
</div>
