/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default*/

.art-card{
  margin: 0px auto;
  max-width: 600px;
  min-height: 300px;
  background-color: #fdfdfd;
  box-shadow: .5px 1px 9px 1px #c7c7c7;
}

.art-card-containter{
  margin: 0 auto;
  padding: 20px;
}

.card-header-text-artist{
  font-family: graphik-web, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.1em;
  margin: 0;
  padding: 0;
}

.card-header-text-title{
  font-family: graphik-web, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 2em;
  line-height: 1.3em;
  font-weight: 840;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.card-header-text-type{
  font-family: graphik-web, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.card-body-text {
  font-family: graphik-web, sans-serif;
  font-weight: 500;
  font-style: normal;
  word-spacing: .3px;
  font-size: 1.1em;
  line-height: 1.6em;
  letter-spacing: 0.01em;
  text-rendering: optimizeSpeed;
  margin: 0;
}

p.contributing-artist-header-text{
  font-family: Harriet, serif;
  font-style: italic;

  font-size: 1.4em;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 4px;
  /*text-transform: uppercase;*/
}

p.contributing-artist-text {
  font-family: graphik-web, sans-serif;
  font-weight: 500;
  font-style: normal;
  word-spacing: .3px;
  font-size: 1.1em;
  line-height: 1.6em;
  letter-spacing: 0.01em;
  text-rendering: optimizeSpeed;
  margin: 0;
}


a.support {
  text-align: right;
  position: inherit;
  display: block;
  border-bottom: black;
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  word-spacing: .3px;
  font-size: 1.2em;
  text-rendering: optimizeSpeed;
  line-height: 0;
  margin: 0;
  color: #3A6629;
  text-decoration: none;
}

a.support:visited {
  text-decoration: none;
}

a.support:hover {
  text-decoration: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .art-card{
    margin: 0px auto;
    max-width: 600px;
    min-height: 300px;
    background-color: #fdfdfd;
    box-shadow: .5px 1px 9px 1px #c7c7c7;
  }

  .art-card-containter{
    margin: 0 auto;
    padding: 20px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}
