<div class="art-card">
  <div class="art-card-containter">
    <div class="art-card-header">
      <div class="card-header-text-artist">
        {{card.primaryContributor}}
      </div>
      <div class="card-header-text-title">
        {{card.title}}
      </div>
      <div class="card-header-text-type">
        {{card.primaryType}}
      </div>
    </div>

    <br />
    <div class="card-body-wrapper">
    <p class="card-body-text" [innerHTML]="card.summary | keepHtml"></p>
    <p class="contributing-artist-header-text">Contributing Artists</p>
    <p *ngFor="let artist of card.contributingArtists" class="contributing-artist-text">
      {{artist}}
    </p>
    <!-- <a href="{{card.support}}" target="_blank" class="support">$</a> -->
    </div>
  </div>
</div>
