<app-header></app-header>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>
        <mat-list-item (click)='logOut()'> Log Out </mat-list-item>
        <!-- <mat-divider></mat-divider>
        <mat-list-item routerLink="/crisis-center" routerLinkActive="active"> Media </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/crisis-center" routerLinkActive="active"> Entity </mat-list-item> -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-button-toggle (click)="sidenav.toggle()">
      <i class="material-icons md-18 md-dark">menu</i>
  </mat-button-toggle>
  <div>
    <post-form></post-form>
  </div>

</mat-sidenav-container>
