<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>
        <mat-list-item (click)='activatePost()'> Posts </mat-list-item>
        <mat-list-item (click)='logOut()'> Log Out </mat-list-item>
        <!-- <mat-divider></mat-divider>
        <mat-list-item routerLink="/crisis-center" routerLinkActive="active"> Media </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/crisis-center" routerLinkActive="active"> Entity </mat-list-item> -->
    </mat-nav-list>
  </mat-sidenav>
  <div>
    <app-post-list *ngIf="postPage"></app-post-list>
  </div>

</mat-sidenav-container>
