/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default*/


/*:root{}*/
a {
  text-decoration: none;
  color: white;
}

.logo-container {
  position: relative;
}

.footer-banner {
  position: fixed;
  width: 100%;
  height: 9%;
  bottom: 0;
  overflow: hidden;
  /*background-color: red;*/
}

.footer-banner img {
  max-width: 100px;
  /*width: 10%;*/
  position: absolute;
  /*left: 0;*/


  right: 30px;
  top: 0;
  bottom: 0;
  margin: 0 auto;


  /*opacity: 0.3;*/
  /*transition: opacity 0.5s;*/
  /*transition-timing-function: ease;*/
}

.footer-banner img:hover {
  opacity: 1.0;
  transition: opacity 0.5s;
  transition-timing-function: linear;
}

.tile-text {
  /*from main.css BlockInfo*/
  /*font-family: Harriet, "Georgia", serif;*/
  /*width: 100%;*/
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 250%;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  margin-top: 2%;
  margin-left: 2%;
  transition: text-shadow .5s;
  transition-timing-function: ease;
  text-transform: uppercase;

  text-shadow: 0 0 2px rgba(255, 255, 255, 0.03),
  0 0 2px rgba(255, 255, 255, 0.03),
  0 0 2px rgba(255, 255, 255, 0.62),
  0 0 2px rgba(255, 255, 255, 0.1),
  0 0 2px rgba(255, 255, 255, 0.1),
  0 0 2px rgba(255, 255, 255, 0.1),
  0 0 2px rgba(255, 255, 255, 0.1),
  0 0 2px rgba(255, 255, 255, 0.1);
}

.tile-text:hover {
  text-shadow: none;
}

.tile-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.35);
  transition: background-color 0.5s;
  transition-timing-function: linear;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  display: block;
  /*color: yellow;*/
}

.tile-overlay:hover {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.12);
  width: 100%;
}


@media screen and (orientation: portrait) {

  html {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
  }

  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    background-color: red;
  }



  .body-container {
    position: relative;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
  }

  .tile-container {
    width: 100%;

  }

  .tile { /*this is the this that is fucking up the resize*/
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
  }

  .tile-photo {
    width: 100%;
    display: flex;
    /*margin: 0;*/
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}

@media screen and (orientation: landscape){

  html {
    overflow-y: hidden;
  }

  body{
    height: 100vh;
    margin: 0 auto;
  }

  .body-container {
    /*Positionings*/
    position: relative;

    /*Spacing*/
    margin: 0 auto;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    /*padding: 0px;*/

    /*Sizing*/
    height: 92vh;
  }

  .tile-container {
    /*Positioning*/
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    float: left;
    display: inline-flex;

    /*Spacing*/
    margin: auto;
    clear: both;

    /*Sizing*/
    min-width: 100px;
    height: 92vh;

    /*Color*/
    /*background-color: darkgreen;*/
  }

  .tile {
    /*Positioning*/
    float: left;
    height: 92vh;
    position: relative;
    display: inline-flex;

    /*Spacing*/
    margin: auto;
    overflow-y: hidden;

    /*Sizing*/
    /*width: 100%;*/





  }

  .tile-photo {
    height: 100%;
  }

  .tile-overlay {
    width: 100%;
  }
}
