<p>
  home works!
</p>


<!--<div class="body-container">-->
  <!--<div class="tile-container">-->
    <!--<div class="tile" id="tile0">-->
      <!--<header class="tile-overlay">-->
        <!--<p class="tile-text">-->
          <!--<a href="../../../../../../public/posts/html/kanye-west-wolves-video.html">-->
            <!--<strong>Wolves</strong><br>-->
            <!--Kanye West-->
          <!--</a>-->
        <!--</p>-->
      <!--</header>-->
      <!--<img class="tile-photo" src="../../../../../../public/main/img/photos/kanye-8-5.jpg">-->
    <!--</div>-->
    <!--<div class="tile" id="tile1">-->
      <!--<header class="tile-overlay">-->
        <!--<p class="tile-text">-->
          <!--<a href="../../../../../../public/posts/html/chance-the-rapper-same-drugs-video.html">-->
            <!--<strong>Same Drugs</strong><br>-->
            <!--Chance the Rapper-->
          <!--</a>-->
        <!--</p>-->
      <!--</header>-->
      <!--<img class="tile-photo" src="../../../../../../public/main/img/photos/chance-8-5.gif">-->
    <!--</div>-->
    <!--<div class="tile" id="tile2">-->
      <!--<header class="tile-overlay">-->
        <!--<p class="tile-text">-->
          <!--<a href="../../../../../../public/posts/html/ernest-baker-drake-in-real-life.html">-->
            <!--<strong>Drake In Real Life</strong><br>-->
            <!--Ernest Baker-->
          <!--</a>-->
        <!--</p>-->
      <!--</header>-->
      <!--<img class="tile-photo" src="../../../../../../public/main/img/photos/drake-8-5.jpg">-->
    <!--</div>-->
    <!--<div class="tile" id="tile3">-->
      <!--<header class="tile-overlay">-->
        <!--<p class="tile-text">-->
          <!--<a href="../../../../../../public/posts/html/tylon-cartier-bracelet.html">-->
            <!--<strong>Practice</strong><br>-->
            <!--Tylon Smith-->
          <!--</a>-->
        <!--</p>-->
      <!--</header>-->
      <!--<img class="tile-photo" src="../../../../../../public/main/img/photos/tylon-8-5.jpg">-->
    <!--</div>-->
    <!--<div class="tile" id="tile4">-->
      <!--<header class="tile-overlay">-->
        <!--<p class="tile-text">-->
          <!--<a href="../../../../../../public/posts/html/trey-abdella-local-showcase.html">-->
            <!--<strong>Local Showcase</strong><br>-->
            <!--Trey Abdella-->
          <!--</a>-->
        <!--</p>-->
      <!--</header>-->
      <!--<img class="tile-photo" src="../../../../../../public/main/img/photos/tiger_cover_8_5.jpg">-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="footer-banner">-->
  <!--<div class="logo-container">-->
    <!--<a href="../../../../../main/html/main3.html"><img src="../../../../../../public/main/img/logo/logo3_white.png" /></a>-->
  <!--</div>-->
<!--</div>-->

<h1>Posts</h1>
<div *ngFor="let post of posts">
  <h4>{{post.title}}</h4>
  <p>{{post.artist}}</p>
  <!--<img src="../../../../../../public/img/photos/{{post.image}}" />-->
</div>

<!--<script type='text/javascript' src='../../../../../../public/main/js/jquery.mousewheel.min.js'></script>-->
<!--<script src="../../../../../main/js/wheel-indicator.js"></script>-->
<!--<script src="../../../../../main/js/Horizontal-Scroll.js"></script>-->
<!--<script src="../js/Image-Resize.js"></script>-->
