<div>
  <h1>Post Page</h1>
  <button mat-icon-button (click)='addPost()'>
    <i class="material-icons md-24 md-dark">add_circle_outline</i>
  </button>
</div>

<div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let post of list">
      {{ post.headline }}
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" (click)='editPost()'>Edit</button>
        <button type="button" class="btn btn-default" (click)='deletePost()'>Delete</button>
      </div>
    </li>
  </ul>
</div>  
