<h1 class="title">Administration</h1>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>
      <!-- TODO: Add more tabs such as Media and Entities -->
      <mat-list-item routerLink="./form" routerLinkActive="active"> New Post </mat-list-item>
      <mat-list-item routerLink="./" routerLinkActive="active"> Posts </mat-list-item>
      <mat-list-item (click)='logOut()'> Log Out </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
