
/*@import url('https://fonts.googleapis.com/css?family=Knewave');*/
/*@import url('https://fonts.googleapis.com/css?family=Comfortaa');*/
/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');*/
/*@import url('https://fonts.googleapis.com/css?family=Bungee');*/
/*@import url('https://fonts.googleapis.com/css?family=Quicksand');*/
/*@import url('https://fonts.googleapis.com/css?family=Chicle');*/
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
/*https://fonts.google.com/specimen/Fredoka+One*/
/*https://fonts.google.com/specimen/Passion+One*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default*/

/*:root{}*/
a {
  text-decoration: none;
  color: white;
}

.logo-container {
  position: relative;
}

.footer-banner {
  position: fixed;
  width: 100%;
  height: 9%;
  bottom: 0;
  overflow: hidden;
  /*background-color: red;*/
}

.footer-banner img {
  max-width: 100px;
  /*width: 10%;*/
  position: absolute;
  /*left: 0;*/


  right: 30px;
  top: 0;
  bottom: 0;
  margin: 0 auto;


  /*opacity: 0.3;*/
  /*transition: opacity 0.5s;*/
  /*transition-timing-function: ease;*/
}

.footer-banner img:hover {
  opacity: 1.0;
  transition: opacity 0.5s;
  transition-timing-function: linear;
}

.tile-text {
  /*from main.css BlockInfo*/
  /*font-family: Harriet, "Georgia", serif;*/
  /*width: 100%;*/
  position: absolute;
  bottom: .5em;
  display: inline-block;
  letter-spacing: 1.1px;
  font-family: 'Fugaz One', cursive;
  font-size: 80%;
  line-height: 118%;
  font-weight: bolder;
  -webkit-font-smoothing: subpixel-antialiased;
  margin-top: 2%;
  margin-left: 2%;
  transition: text-shadow .5s;
  transition-timing-function: ease;
  text-transform: uppercase;
  /*word-wrap: break-word;*/

  text-shadow: 0 0 2px rgba(255, 255, 255, 0.03),
  0 0 2px rgba(255, 255, 255, 0.03),
  0 0 2px rgba(255, 255, 255, 0.62),
  0 0 2px rgba(255, 255, 255, 0.1),
  0 0 2px rgba(255, 255, 255, 0.1),
  0 0 2px rgba(255, 255, 255, 0.1),
  0 0 2px rgba(255, 255, 255, 0.1),
  0 0 2px rgba(255, 255, 255, 0.1);
}

.tile-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.35);
  transition: background-color 0.5s;
  transition-timing-function: linear;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: block;
  /*color: yellow;*/
}

.tile-overlay:hover {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.12);
  width: 100%;
  text-shadow: 2px 5px 5px white;
}

html {
  overflow-y: hidden;
}

body{
  height: 100vh;
  margin: 0 auto;
}

.body-container {
  position: relative;
  margin: 0 auto;
  display: block;
  white-space: nowrap;
  width: 100vw;
  height: 100vh;
  
  overflow-x: hidden;
  /*background-color: deepskyblue;*/
}

.tiles-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow-x:hidden;
  overflow-y:inherit;
}

.tile-wrapper {
  width: 100%;
  height: calc((5/8)*100vw);
}

.tile { /*this is the this that is fucking up the resize*/
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.tile-photo {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
}

@media only screen and (min-width: 550px) {

  .tile-text { 
     font-size: 100%; 
  }

}

@media only screen and (min-width: 1000px) {

  .tile-text { 
     font-size: 200%;
  }

}

@media screen and (orientation: landscape){

  html {
    overflow-y: hidden;
  }

  body{
    height: 100vh;
    margin: 0 auto;
  }

  .body-container {
    /*Positionings*/
    position: relative;

    /*Spacing*/
    margin: 0 auto;
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    /*padding: 0px;*/

    /*Sizing*/
    height: 100vh;

    /*background-color: #649d71;*/
  }

  .tiles-container {
    /*Positioning*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    float: left;
    display: inline-flex;
    overflow-x:inherit;
    overflow-y:hidden;
    /*Spacing*/
    margin: 0em;
    clear: both;

    /*Sizing*/
    min-width: 100px;
    height: 100vh;

    /*Color*/
    /*background-color: darkgreen;*/
  }

  .tile-wrapper{
    height: 100vh;
    width: calc((8/5)*calc(100vh - 46px));/*8:5 ratio*/
    display: inline-flex;
    position: relative;
  }

  .tile {
    /*Positioning*/
    float: left;
    height: 100vh;
    width: calc((8/5)*calc(100vh - 46px));
    display: inline-flex;

    /*Spacing*/
    margin: 0px;
    overflow: hidden;

    /*Sizing*/
    /*width: 100%;*/
    top: 0; bottom: 0; left: 0; right: 0;

  }

  .tile-photo {
    height: 100%;
    width: inherit;
  }

  .tile-overlay {
    width: 100%;
  }
  .tile-wrapper img{
    object-fit: cover;
  }
}


