<app-header></app-header>
<div class="body-container"
  infiniteScroll
  [scrollWindow]="scrollWindowValue"
  [horizontal]="horizontalValue"
  [alwaysCallback]="true"
  (scrolled)="onScroll()">
    <div class="tiles-container">
      <div class="tile-wrapper" *ngFor="let post of postArray" >
      <div class="tile" id="tile{{post._id}}">
        <header class="tile-overlay">
          <p class="tile-text">
            <a [routerLink]="['/post', post.customURL]" routerLinkActive="active">
              <strong>{{post.headline}}</strong>
              <br>{{post.subHeadline}}
            </a>
          </p>
        </header>
        <img class="tile-photo" src="{{post.featuredImage}}" /><!--<{{post.primaryImage.filePath}} /assets/1.jpg-->
      </div>
     </div>
  </div>
</div>
