<div id='mediaData' class='hide' [formGroup]="mediaForm">
    <div class="form-group">
        <label for="mediaTitle">Title</label>
        <input type="text" class="form-control" id="mediaTitle" formControlName="title">
    </div>
    
    <div class="form-group">
        <label for="embed">Embed</label>
        <input type="text" class="form-control" id="embed" formControlName="embed">
    </div>
    
    <div class="form-group">
        <label for="mediaType">Embed Type</label>
        <!-- add either a default value or placeholder text -->
        <select class="form-control" id="mediaType" formControlName="type">
            <option *ngFor="let type of mediaTypes" [value]="type">{{type}}</option>
        </select>
    </div>

    <!-- list them vertically -->
    <div class="form-group">
        <label for="width">Width</label>
        <mat-radio-group id='mediaWidth' class='radio-form' formControlName="width">
            <mat-radio-button name="media-width-radio" value="fullWidth">Full-Width</mat-radio-button>
            <mat-radio-button name="media-width-radio" value="semiFullWidth">Semi-Full-Width</mat-radio-button>
            <mat-radio-button name="media-width-radio" value="halfWidth">Half-Width</mat-radio-button>
            <mat-radio-button name="media-width-radio" value="columnWidth">Column-Width</mat-radio-button>
            <mat-radio-button name="media-width-radio" value="halfColumnWidth">Half-Column-Width</mat-radio-button>
            <mat-radio-button name="media-width-radio" value="miniColumnWidth">Mini-Column-Width</mat-radio-button>
        </mat-radio-group>
    </div>
    <div id='buttonContainer' class="form-group">
        <button type='button' type="button" class="btn btn-default" (click)="addMedia()">
                Add Media
        </button>
    </div>
</div>
