<div class="container">
    <div>
        <h1>Post Form</h1>
        <form (ngSubmit)="onSubmit(postID)" [formGroup]="postForm">
            <div class="form-group">
                <label for="headline">Headline</label>
                <input type="text" class="form-control" id="headline" formControlName="headline">
                <div [hidden]="headline.valid || headline.pristine"
                class="alert alert-danger">
                    Headline is required
                </div>
            </div>

            <div class="form-group">
                <label for="subHeadline">Sub-Headline</label>
                <input type="text" class="form-control" id="subHeadline" formControlName="subHeadline">
            </div>

            <div class="form-group">
                <label for="featuredImage">Featured Image</label>
                <input type="text" class="form-control" id="featuredImage" formControlName="featuredImage">
            </div>

            <div class="form-group">
                <label for="customURL">Custom URL</label>
                <p>{{postForm.get('customURL').value}}</p>
                <!-- <input type="text" class="form-control" id="customURL" formControlName="customURL"> -->
            </div>

            <div class="form-group">
                <label for="publishDate">Publish Date</label>
                <md2-datepicker type='datetime' name='publishDate' formControlName="publishDate"></md2-datepicker>
            </div>

            <mat-checkbox formControlName="published" labelPosition="before">Published</mat-checkbox>
            
            <mat-form-field>
                <input matInput id="publishedBy" formControlName="publishedBy" placeholder="Published By">
            </mat-form-field>
            
            <div class="form-group">
                <label for="postType">Post Type</label>
                <mat-radio-group class="form-control" id="postType" formControlName="postType" (ngModelChange)='toggleType($event)'>
                    <mat-radio-button *ngFor="let type of postTypes" [value]="type">{{type}}</mat-radio-button>
                </mat-radio-group>
            </div>

            <!-- GALLERY -->
            <app-gallery-form *ngIf="showGallery" [showGallery]="showGallery" formControlName="gallery"></app-gallery-form>

            <!-- Post Body -->
            <div class="form-group" >
                <label for="body">Post Body</label>
                <div formArrayName="body">
                    <div class="list-group-item" *ngFor="let entry of body.controls; index as i" [formGroupName]="i">
                        <div *ngIf="!entry.hideForm">
                            <div [ngSwitch]="entry.value.class">
                                <div *ngSwitchCase="'media'">  

                                    <div class="form-group">
                                        <label for="mediaTitle">Title</label>
                                        <input type="text" class="form-control" id="mediaTitle" formControlName="title">
                                    </div> 

                                    <div class="form-group">
                                        <label for="embed">Embed</label>
                                        <input type="text" class="form-control" id="embed" formControlName="embed">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="mediaType">Embed Type</label>
                                        <!-- add either a default value or placeholder text -->
                                        <select class="form-control" id="mediaType" formControlName="type">
                                            <option *ngFor="let type of mediaTypes" [value]="type">{{type}}</option>
                                        </select>
                                    </div>
                                
                                    <!-- list them vertically -->
                                    <div class="form-group">
                                        <label for="width">Width</label>
                                        <mat-radio-group id='mediaWidth' class='radio-form' formControlName="width">
                                            <mat-radio-button name="media-width-radio" value="fullWidth">Full-Width</mat-radio-button>
                                            <mat-radio-button name="media-width-radio" value="semiFullWidth">Semi-Full-Width</mat-radio-button>
                                            <mat-radio-button name="media-width-radio" value="halfWidth">Half-Width</mat-radio-button>
                                            <mat-radio-button name="media-width-radio" value="columnWidth">Column-Width</mat-radio-button>
                                            <mat-radio-button name="media-width-radio" value="halfColumnWidth">Half-Column-Width</mat-radio-button>
                                            <mat-radio-button name="media-width-radio" value="miniColumnWidth">Mini-Column-Width</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div id='buttonContainer' class="form-group">
                                        <button type='button' type="button" class="btn btn-default" (click)="entry.hideForm = true">
                                                Save Media
                                        </button>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'card'"> 
                                    <div class="form-group">
                                        <label for="artCardTitle">Title</label>
                                        <input type="text" class="form-control" id="artCardTitle" formControlName="title">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="primaryContributor">Primary Contributor</label>
                                        <input type="text" class="form-control" id="primaryContributor" formControlName="primaryContributor">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="secondaryContributor">Secondary Contributor</label>
                                        <input type="text" class="form-control" id="secondaryContributor" formControlName="secondaryContributor">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="primaryType">Primary Type</label>
                                        <input type="text" class="form-control" id="primaryType" formControlName="primaryType">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="summary">Summary</label>
                                        <jodit-editor formControlName="summary"></jodit-editor>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="support">Support</label>
                                        <input type="text" class="form-control" id="support" formControlName="support">
                                    </div>
                                    
                                    <!-- editable source list -->
                                    <div class="form-group">
                                        <label for="sources">Sources</label>
                                        <div class="list-group-item" *ngFor="let source of entry.controls['sources'].value; let sourceIndex = index;">
                                            {{ source }}
                                            <div id="button-group-{{i}}" class="btn-group" role="group" aria-label="...">
                                                <!-- <button name="editButton" type="button" class="btn btn-default" (click)="entry.hideForm = false">Edit</button> -->
                                                <button type="button" class="btn btn-default" (click)='deleteSource(i)'>Delete</button>
                                            </div>
                                        </div>

                                        <div>
                                            <input type="text" class="form-control" #sourceInput>
                                            <button type='button' type="button" class="btn btn-default" (click)="addSource(sourceInput, i)">
                                                Add Source
                                            </button>
                                        </div>
                                    </div>
                                    
                                    <!-- editable artist list -->
                                    <div class="form-group">
                                        <label for="contributingArtists">Contributing Artists</label>
                                        <div class="list-group-item" *ngFor="let artist of entry.controls['contributingArtists'].value; let artistIndex = index;">
                                                {{ artist }}
                                                <div id="button-group-{{i}}" class="btn-group" role="group" aria-label="...">
                                                    <!-- <button name="editButton" type="button" class="btn btn-default" (click)="entry.hideForm = false">Edit</button> -->
                                                    <button type="button" class="btn btn-default" (click)='deleteSource(i)'>Delete</button>
                                                </div>
                                        </div>

                                        <div>
                                            <input type="text" class="form-control" #artistInput>
                                            <button type='button' type="button" class="btn btn-default" (click)="addArtist(artistInput, i)">
                                                Add Artist
                                            </button>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <button type='button' type="button" class="btn btn-default" (click)="entry.hideForm = true">
                                            Save Art Card
                                        </button>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'text'">
                                    <div class="form-group">
                                        <label for="post-text">Text</label>
                                        <jodit-editor id="post-text" formControlName="text"></jodit-editor>
                                    </div>
                                    <div class="form-group">
                                        <button type='button' type="button" class="btn btn-default" (click)="entry.hideForm = true">
                                            Save Text
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="entry.hideForm">
                            {{ entry.value.title }} {{ entry.value.text }}
                            <div id="button-group-{{i}}" class="btn-group" role="group" aria-label="...">
                                <button name="editButton" type="button" class="btn btn-default" (click)="entry.hideForm = false">Edit</button>
                                <button type="button" class="btn btn-default" (click)='deleteEntry(i)'>Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type='button' type="button" class="btn btn-default" (click)="addMedia()">
                        Create Media
                    </button>
                    <button type='button' type="button" class="btn btn-default" (click)="addArtCard()">
                        Create Art Card
                    </button>
                    <button type='button' type="button" class="btn btn-default" (click)="addText()">
                        Create Body
                    </button>
                </div>
            </div>

            <!-- <app-media-form [hidden]="!showMedia"></app-media-form> -->

            <div class="form-group">
                <button type="button" class="btn btn-default" (click)="postForm.reset()">Reset</button>
                <button type="button" class="btn btn-success" [disabled]="!postForm.valid" (click)="onReview()">Review</button>
            </div>
            {{postForm.value | json}}
        </form>
    </div>
</div>