<div class="art-card">
  <div class="art-card-containter">
    <div class="art-card-header">
      <p class="h1">Tylon Smith</p>
      <p class="h1"><em>Practice</em>, 2015</p>
      <p class="h1">Sound</p>
    </div>


    <p class="card-text-body">
      New sounds from Tylon Smith as R&B melodies are explored. The smooth instrumental is complemented
      by the autotuned vocals talking about making his love interest The 23 year old artist based out of
      the hills of West Virginia is anticipating to release an album later this year.
    </p>
  </div>
</div>
