<div class="art-card">
  <div class="art-card-containter">
    <div class="art-card-header">
      <p class="h1">{{card.primaryContributor}}</p>
      <p class="h1"><em>{{card.title}}</em>, 2017</p>
      <p class="h1">{{card.primaryType}}</p>
    </div>
    <p class="card-text-body">{{card.summary}}</p>
    <!--<div class="support">{{card.support}}</div>-->
    <!--<div *ngFor="let artist of post.body.contributingArtists" class="contributing-artists">-->
      <!--<p>{{artist}}</p>-->
    <!--</div>-->
  </div>
</div>
