<div class="nav-wrapper">
  <div class="navbar">
    <div class="logo-container">
      <ul class="nav">
        <!--<li><a href="#">YOUTUBE</a></li>-->
        <!--<li><a href="#">INSTAGRAM</a></li>-->
        <!--<li><a href="#">SHOP</a></li>-->
        <li><a href=""><img src="../../../assets/img/logo/diadoz-black-logo-2017.svg" /></a></li>
        <!--<li><a href="#">EMAIL</a></li>-->
        <!--<li><a href="#">TWITTER</a></li>-->
        <!--<li><a href="#">SOUNDCLOUD</a></li>-->
      </ul>
    </div>
  </div>
</div>
