/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default*/
/*.nav-wrapper{*/
  /*position: fixed;*/
  /*top: 0;*/
/*}*/

.diadoz-navbar{
  position: relative;
  width: 100vw;
  height: 46px;
  /*background-color: #ff1312;*/
  /*margin-top: 10px;*/
  display: block;
  overflow: hidden;

}

.diadoz-navbar .diadoz-nav {
  text-align: center;
  /*background-color: red;*/

}
.diadoz-nav{

  margin: auto;
  padding: 0;

}

.diadoz-nav > ul{
  height: 30px;
}

.diadoz-nav > li{
  display: inline-block;
  float: none;
  vertical-align: middle;
  height: 46px;
  /*line-height:35px;*/


}

.diadoz-nav > li > a{
  /*padding-left: 30px;*/
  /*padding-right: 30px;*/
  /*margin: auto;*/
}

/*.logo-container{*/
  /*width: auto;*/
  /*height: 8vh;*/
  /*margin-top: auto !important;*/
  /*margin-bottom: auto !important;*/

  /*!*background-color: yellow;*!*/
  /*!*position: absolute;*!*/

/*}*/

.logo-container img {
  /*width: 100%;*/
  display: inline-block;
  height: 30px;
  margin-top: 9px;
  margin-bottom: auto;

  /*background-color: red;*/

}


@media screen and (orientation: portrait) {

  .diadoz-navbar{
    background-color: rgba(255, 255, 255, 0.58);
    position: fixed;
    z-index: 1;


  }
  .header-filler{
    position: relative;
    height: 46px;
  }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

@media screen and (orientation: landscape){

  .header-filler{
    display: none;
    height: 0;

  }
}
