/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default*/
/*.nav-wrapper{*/
  /*position: fixed;*/
  /*top: 0;*/
/*}*/
:root{
  --height: 8vh;

}

.navbar{
  position: relative;
  width: 100vw;
  height: var(--height);
  background-color: white;
  /*margin-top: 10px;*/
  display: block;

}

.navbar .nav {
  text-align: center;

}
.nav{

  margin: auto;
  padding: 0;

}

.nav > ul{
  height: var(--height);
}

.nav > li{
  display: inline-block;
  float: none;
  vertical-align: middle;
  height: var(--height);
  /*line-height:35px;*/


}

.nav > li > a{
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;

}

/*.logo-container{*/
  /*width: auto;*/
  /*height: 8vh;*/
  /*margin-top: auto !important;*/
  /*margin-bottom: auto !important;*/

  /*!*background-color: yellow;*!*/
  /*!*position: absolute;*!*/

/*}*/

.logo-container img {
  /*width: 100%;*/
  display: block;
  height: 5vh;
  margin-top: auto;
  margin-bottom: auto;

  /*background-color: red;*/

}


@media screen and (orientation: portrait) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

@media screen and (orientation: landscape){

}
