<div class="container">
    <div [hidden]="submitted">
        <h1>Post Form</h1>
        <form (ngSubmit)="onSubmit()" #postForm="ngForm">
            {{diagnostic}}
            <div class="form-group">
                <label for="headline">Headline</label>
                <input type="text" class="form-control" id="headline" required
                [(ngModel)] = 'model.headline' name='headline' #headline='ngModel'>
                <div [hidden]="headline.valid || headline.pristine"
                class="alert alert-danger">
                    Headline is required
                </div>
            </div>

            <div class="form-group">
                <label for="subHeadline">Sub-Headline</label>
                <input type="text" class="form-control" id="subHeadline"
                [(ngModel)]='model.subHeadline' name='subHeadline'>
            </div>

            

            <div class="form-group">
                <label for="featuredImage">Featured Image</label>
                <input type="text" class="form-control" id="featuredImage"
                [(ngModel)]='model.featuredImage' name='featuredImage'>
            </div>

            <div class="form-group">
                <label for="customURL">Custom URL</label>
                <input type="text" class="form-control" id="customURL"
                [(ngModel)]='model.customURL' name='customURL' #customURL="ngModel"
                [value]='customURL.dirty ? model.customURL : model.subHeadline ? slugify(model.subHeadline) + "-" +  slugify(model.headline) : slugify(model.headline)'
                >
            </div>
            <!-- : model.subHeadline?  : slugify(model.headline)' -->
            <!-- body -->

            <div class="form-group">
                <label for="publishDate">Publish Date</label>
                <md2-datepicker type='datetime' name='publishDate'
                [(ngModel)]="model.publishDate"></md2-datepicker>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        Published
                        <input type="checkbox" class="form-check-input" [(ngModel)]="model.published" name='published'>
                    </label>
                </div>
            </div>
            

            <div class="form-group">
                <label for="publishedBy">Published By</label>
                {{model.publishedBy}}
            </div>

            <div class="form-group">
                <label for="postType">Post Type</label>
                <select class="form-control" id="postType" required
                [(ngModel)]='model.postType' (ngModelChange)='changeSelect($event)' name='postType' #spy>
                    <option *ngFor="let type of postTypes" [value]="type">{{type}}</option>
                </select>
                {{spy.className}}
            </div>

            <!-- GALLERY -->

            <div class="form-group" [hidden]="!showGallery">
                <label for="galleryTitle">Gallery Title</label>
                <input type="text" class="form-control" id="galleryTitle"
                [(ngModel)]='gallery.title' name='galleryTitle'>
            </div>

            <div class="form-group form-inline" [hidden]="!showGallery">
                <div class="form-group">
                    <label for="curatedBy">Curated By</label>
                    <input type="text" class="form-control" id="curatedBy"
                    [(ngModel)]='gallery.curatedBy.name' name='curatedBy'>
                </div>
                <div class="form-group">
                    <label for="url">URL</label>
                    <input type="text" class="form-control" id="url"
                    [(ngModel)]='gallery.curatedBy.url' name='url'>
                </div>
            </div>

            <div class="form-group" [hidden]="!showGallery">
                <label for="summary">Summary</label>
                <textarea id='gallerySummary'></textarea>
            </div>

            <div class="form-group" [hidden]="!showGallery">
                <label for="endInfo">End Info</label>
                <textarea id='galleryEndInfo'></textarea>
            </div>

            <!-- GALLERY -->

            <div class="form-group">
                <label for="body">Post Body</label>
                <div [hidden]="showGallery">
                    <button type='button' type="button" class="btn btn-default" (click)="toggleMedia()">
                        Create Media
                    </button>
                    <button type='button' type="button" class="btn btn-default" (click)="toggleArtCard()">
                        Create Art Card
                    </button>
                    <button type='button' type="button" class="btn btn-default" (click)="toggleBody()">
                        Create Body
                    </button>
                </div>

                <div [hidden]="!showGallery">
                    <button type='button' type="button" class="btn btn-default" (click)="toggleMedia()">
                        Create Media
                    </button>
                </div>

                
            </div>
            
            <!-- media section -->
            <div id='mediaData' class='hide'>
                <div class="form-group">
                    <label for="mediaTitle">Title</label>
                    <input type="text" class="form-control" id="mediaTitle"
                    [(ngModel)]="media.title" name=title>
                </div>
                
                <div class="form-group">
                    <label for="embed">Embed</label>
                    <input type="text" class="form-control" id="embed"
                    [(ngModel)]="media.embed" name=embed>
                </div>
                
                <div class="form-group">
                    <label for="mediaType">Embed Type</label>
                    <!-- add either a default value or placeholder text -->
                    <select class="form-control" id="mediaType"
                    [(ngModel)]='media.type' name='mediaType'>
                        <option *ngFor="let type of mediaTypes" [value]="type">{{type}}</option>
                    </select>
                </div>

                <!-- list them vertically -->
                <div class="form-group">
                    <label for="width">Width</label>
                    <mat-radio-group class='radio-form' [(ngModel)]="media.width" name='width'>
                        <mat-radio-button value="fullWidth">Full-Width</mat-radio-button>
                        <mat-radio-button value="semiFullWidth">Semi-Full-Width</mat-radio-button>
                        <mat-radio-button value="halfWidth">Half-Width</mat-radio-button>
                        <mat-radio-button value="columnWidth">Column-Width</mat-radio-button>
                        <mat-radio-button value="halfColumnWidth">Half-Column-Width</mat-radio-button>
                        <mat-radio-button value="miniColumnWidth">Mini-Column-Width</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="form-group">
                    <button type='button' type="button" class="btn btn-default" (click)="addMedia(media)">
                            Add Media
                    </button>
                </div>
            </div>

            <!-- art card section -->
            <div id='artCardData' class='hide'>
                <div class="form-group">
                    <label for="artCardTitle">Title</label>
                    <input type="text" class="form-control" id="artCardTitle"
                    [(ngModel)]="artCard.title" name=title>
                </div>
                
                <div class="form-group">
                    <label for="primaryContributor">Primary Contributor</label>
                    <input type="text" class="form-control" id="primaryContributor"
                    [(ngModel)]="artCard.primaryContributor" name=primaryContributor>
                </div>
                
                <div class="form-group">
                    <label for="secondaryContributor">Secondary Contributor</label>
                    <input type="text" class="form-control" id="secondaryContributor"
                    [(ngModel)]="artCard.secondaryContributor" name=secondaryContributor>
                </div>
                
                <div class="form-group">
                    <label for="primaryType">Primary Type</label>
                    <input type="text" class="form-control" id="primaryType"
                    [(ngModel)]="artCard.primaryType" name=primaryType>
                </div>
                
                <div class="form-group">
                    <label for="summary">Summary</label>
                    <input type="text" class="form-control" id="summary"
                    [(ngModel)]="artCard.summary" name=summary>
                </div>
                
                <div class="form-group">
                    <label for="support">Support</label>
                    <input type="text" class="form-control" id="support"
                    [(ngModel)]="artCard.support" name=support>
                </div>
                
                <div class="form-group">
                    <label for="sources">Sources</label>
                    <input type="text" class="form-control" id="sources"
                    [(ngModel)]="source" name=source>
                    <button type='button' type="button" class="btn btn-default" (click)="addSource(source)">
                        Add Source
                    </button>
                </div>
                
                <div class="form-group">
                    <label for="contributingArtists">Contributing Artists</label>
                    <input type="text" class="form-control" id="contributingArtists"
                    [(ngModel)]="artist" name="artist">
                    <button type='button' type="button" class="btn btn-default" (click)="addArtist(artist)">
                        Add Artist
                    </button>
                </div>
                
                <div class="form-group">
                    <button type='button' type="button" class="btn btn-default" (click)="addArtCard(artCard)">
                        Add Art Card
                    </button>
                </div>
            </div>

            <!-- body section -->
            <div id='bodyData' class='hide'>
                {{bodyText}}
                <div class="form-group">
                    <textarea id='articleText'></textarea>
                </div>
                <div class="form-group">
                    <button type='button' type="button" class="btn btn-default" (click)="addBody()">
                        Add Body
                    </button>
                </div>
            </div>
            
            
            <div class="form-group">
                <button type="button" class="btn btn-default" (click)="newPost(); postForm.reset()">Reset</button>
                <button type="submit" class="btn btn-success" [disabled]="!postForm.form.valid">Review</button>
            </div>
            
        
        </form>
    </div>
    <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
            <div class="col-xs-3">Headline</div>
            <div class="col-xs-9  pull-left">{{ model.headline }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Sub-Headline</div>
            <div class="col-xs-9 pull-left">{{ model.subHeadline }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Post Type</div>
            <div class="col-xs-9 pull-left">{{ model.postType }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Featured Image</div>
            <div class="col-xs-9 pull-left">{{ model.featuredImage }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Custom URL</div>
            <div class="col-xs-9 pull-left">/post/{{ model.customURL }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Publish Date</div>
            <div class="col-xs-9 pull-left">{{ model.publishDate }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Published</div>
            <div class="col-xs-9 pull-left">{{ model.published }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Published By</div>
            <div class="col-xs-9 pull-left">{{ model.publishedBy }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Sub-Headline</div>
            <div class="col-xs-9 pull-left">{{ model.subHeadline }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Body</div>
            <li class="col-xs-9 pull-left" *ngFor='let row of model.body'>{{ row }}</li>
        </div>
        <br>
        <button class="btn btn-primary" (click)="submitted=false">Edit</button>
        <button class="btn btn-primary" (click)="sendData()">Submit</button>
    </div>
</div>