<app-header></app-header>

<div class="container">
  <!--<div class="column-body">-->
    <div *ngFor="let data of post.body">

      <div *ngIf="data.class === 'card'" class="body-media">
        <app-card [card]='data'></app-card>
      </div>

      <div *ngIf="data.class === 'media'">
        <div class="{{data.width}} body-media">
          <div [innerHTML]="data.embed | keepHtml"></div>
        </div>
      </div>

      <div *ngIf="data.class === 'text'">
        <div class="editorial-body body-media">
          <div [innerHTML]="data.text | keepHtml"></div>
        </div>
      </div>
    <!--</div>-->
  </div>
</div>
